*{
margin:0;
padding:0;
}

body{
background-image:url("http://newevolutiondesigns.com/images/freebies/3d-wallpaper-1.jpg");
background-size:cover;
font-family:algerian;
}
input[type="submit"]{
box-sizing:border-box;
width:100%;
padding:10px;
margin-top:30px;
outline:none;
background:#60adde;
opacity:1.0;
border-radius:20px;
font-size:20px;
color:#FFFFFF;
display:inline-block;
background:#F6358A;
letter-spacing:1px;
}



.main{
max-width:350px;
border-radius:20px;

background:rgba(0,0,0,0.5);
box-sizing:border-box;
padding:40px;
color:#fff;
margin-top:100px;
text-align:left;
margin:auto;
}

h2{
text-align:center;
}

input[type="text"],input[type="password"]{
box-sizing:border-box;
padding:12px 5px;
border-radius:10px;
border-bottom:1px dotted #fff;
color:#F87217;
font-weight:bold;
margin:5px;

}
input[type="submit"]:hover{
background:#003365;
opacity:0.8;

}
.btn{
float:left;
}
p{
color:#FFFFFF;
}
header{
color:#F87217;
padding:20px;
text-align:center;
font-size:100px;
}

label{
color:#F87217;
}
img{
width:25px;
height:25px;
padding:10px;
margin-top:10px;
box-shadow:rgba(0,0,0.8);
border-radius:10px;
}

a{
margin top:10px;
text-align:left;
}



